
header {
    border-bottom-style: solid;
    border-color: #4aaaa5;
    border-width: 3px;
    
}

.headcol {

    background-color: #666666;  

} 

.container {
    width: 960px;
    margin: 0 auto;
    background: white;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 20px;
    padding-left: 20px;
    line-height: 35px;
    font-size: 21px;
    border-style: outset;
    border-color: #dddddd;
    border-width: 1px;
    
    
}

.navbarcustom {

    width: 960px;
    margin: 0 auto;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;  
    background: #666666;

}

.navtext {

    font-size: 20px;
    color: white;

}


.portfolio {

    width: 960px;
    margin: 0 auto;
    background: white;
    margin-top: 50px;
    margin-bottom: 100px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;
    padding-left: 20px;
    border-style: outset;
    border-color: #dddddd;
    border-width: 1px;
    
}

body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/white-waves.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

h1 {

    margin-right: 350px;
    font-family: 'Georgia', Times, Times New Roman, serif;

}

h2 {
    color: #4aaaa5;
    margin-bottom: 10px;
    font-family: 'Georgia', Times, Times New Roman, serif;

}

footer {
    background-color: #666666;
    position: fixed;
    width: 100%;
    padding: 30px;
    border-top-style: solid;
    border-color: #4aaaa5; 
    border-width: 4px;
    bottom: 0px;
}

.footer {
    position: absolute;
    text-align: center;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin: auto;
    font-size: 10px;
}

.message {

    height: 200px;
}


h3 {
    background: #4aaaa5;
    text-align: center;
    color: white;
    padding: 20px 40px;
    font-size: 20px;
    position: relative;
    bottom: 70px;
   
}

.bioimg {
    clear: left;
    float: left;
    margin: 10px;
}

.navtext:visited {

    color: lightgray;

}

.navtext:hover {

    color: #4aaaa5;
    text-decoration: none;

}



.navtext:active {

    color: black;

}

  


